footer {
  width: 100%;
  background-color: #333333;
  display: flex;
  height: 3rem;
  align-items: center;
  justify-content: center;
  color: #fffadd;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

h2 {
  font-size: 1rem;
  font-weight: 500;
  margin: 1rem;
}

@media (max-width: 450px) {
  h2 {
    font-size: 0.7rem;
  }
}
