 .img{
                 
 height: 355px; 
 min-height: 255;  
 min-width: 700;
 overflow: hidden;
 width: 100%; 
 object-fit: contain;
 }
 .img-slider{
   width: 100%;
   display: flex;
   justify-content: center;
   flex-direction: column;
}