.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #da344d;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: grey;
}

.cameratype {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 1rem;
}

.brand {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 1rem;
}

.filter-bar {
  background: #333333;
  position: sticky;
  top: 6rem;
  z-index: 3;

  height: calc(100vh - 6rem);
  animation: slideIn 0.2s forwards ease-in-out;
  left: 0;
}

@keyframes slideIn {
  0% {
    position: absolute;
    left: -23rem;
  }

  99% {
    position: absolute;
    left: 0;
  }
  100% {
    position: sticky;
  }
}

@media (max-width: 700px) {
  .filter-bar {
    width: 50%;
  }
}

@media (max-width: 500px) {
  .filter-bar {
    width: 100%;
  }
}
