.ProductContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-basis: max-content;
  background-color: white;
  margin-top: 6rem;
  padding-top: 1rem;
  min-height: calc(100vh - 10.5rem);
}
