.ProductContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-basis: max-content;
  background-color: white;

  padding-top: 1rem;
  padding-bottom: 3rem;
  min-height: calc(100vh - 6rem);
}
